{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form action="{% url 'add_page' %}" method="post">
    {% csrf_token %}
    <!-- атрибуты объекта form внутри шаблона -->

    <!-- для вывода ошибок валидации, не связанных с заполнением того или иного поля -->
    <div class="form-error">{{ form.non_field_errors }}</div>

     <!-- свойство form.title.id_for_label - индентификатор -->
     <!-- form.title.label - название -->
     <!-- form.title - поле для ввода заголовка -->
     <!-- form.title.errors - список ошибок -->

    <p><label class="form-label" for="{{ form.title.id_for_label }}"> {{ form.title.label }} </label> {{ form.title }} </p>
    <div class="form-error"> {{ form.title.errors }} </div>

    <p><label class="form-label" for="{{ form.slug.id_for_label }}"> {{ form.slug.label }} </label> {{ form.slug }} </p>
    <div class="form-error"> {{ form.slug.errors }} </div>

    <p><label class="form-label" for="{{ form.content.id_for_label }}"> {{ form.content.label }} </label> {{ form.content }} </p>
    <div class="form-error"> {{ form.content.errors }} </div>

    <p><label class="form-label" for="{{ form.is_published.id_for_label }}"> {{ form.is_published.label }} </label> {{ form.is_published }} </p>
    <div class="form-error"> {{ form.is_published.errors }} </div>

    <p><label class="form-label" for="{{ form.cat.id_for_label }}"> {{ form.cat.label }} </label> {{ form.cat }} </p>
    <div class="form-error"> {{ form.cat.errors }} </div>

    <button type="submit">Добавить</button>
</form>

{% endblock %}